* {
    /*background-color: #ffffff;*/
    margin: 0%;
    padding: 0%;
    list-style: none;
    /*font-family: 新細明體;
    font-family: Arial, Helvetica, sans-serif;*/
}

/*header*/
header {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    padding: 40px;
}

/*menu*/
#menu {
    position: fixed;
    top: 4px;
    right: 10px;
}

#menu a {
    text-decoration: none;
    text-align: center;
    color: #ffffff;
    font-size: 18px;
    font-weight: 900;
    margin: 5px 0px;
    position: relative;
    float: right;
}

#menu a::after {
    content: " ";
    position: absolute;
    right: 50%;
    left: 50%;
    bottom: -1px;
    border-bottom: 3px solid #ffffff;
    transition: .3s;
}

#menu a:hover::after {
    right: 0%;
    left: 0%;
}

/*intro*/
#intro {
    display: flex;
    flex-direction: row;
    background-image: url(image/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-color: rgba(0, 0, 0, .6);
    background-blend-mode: multiply;
}

.intro-left {
    /*background-color: blue;*/
    flex-shrink: 1;
    float: left;
    width: 35%;
}

.intro-left img {
    display: block;
    object-fit: cover;
    object-position: center;
    width: 50%;
    margin: 10% 13% 10% 42%;
}

.intro-right {
    /*background-color: aqua;*/
    flex-shrink: 1;
    float: right;
    width: 65%;
}

.txt {
    float: left;
    margin: 5%;
    width: 80%;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 1.5;
}

.txt a {
    text-decoration: none;
    color: #ffffff;
    /*文字上移*/
}

.txt img {
    margin: 0px;
    filter: invert(100%);
}

.txt h4 a {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    transition: all .3s linear;
}

.txt h4 a:hover {
    color: #d81616;
}

/*skills*/
.skills_head {
    text-align: center;
    background-color: #000000;
    color: #ffffff;
    padding: 10px;
}

.layout {
    display: flex;
    flex-direction: row;
    background-color: #555555;
    color: #333138;
    font-size: 20px;
}

.skills-left {
    flex-shrink: 1;
    float: left;
    width: 50%;
    margin: 3%;
    text-align: center;
    background-color: burlywood;
    border-radius: 20px;
}

.skills-right {
    flex-shrink: 1;
    float: right;
    width: 50%;
    margin: 3%;
    text-align: center;
    background-color: lightsalmon;
    border-radius: 20px;
}

#skills table {
    margin-left: auto;
    margin-right: auto;
    line-height: 2;
}

#skills progress {
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 20px;
    overflow: hidden;
    height: 10px;
}

/*experience*/
.exper_head {
    text-align: center;
    background-color: #000000;
    color: #ffffff;
    padding: 10px;
}

.exper_link {
    display: flex;
    flex-direction: row;
    color: #ffffff;
    font-size: 20px;
}

.exper_link div {
    flex-shrink: 1;
    width: 25%;
    height: auto;
    background-color: red;
}

.exper_link div img {
    display: block;
    object-fit: cover;
    object-position: 100% 100%;
    height: 100%;
    width: 100%;
}

.exper_link div img:hover {
    -webkit-filter: invert(80%);
    filter: invert(80%);
}

.content {
    display: flex;
    flex-direction: column;
    background-color: #000000;
    padding: 20px 30px;
    text-align: center;
    color: #ffffff;
}

.content_left {
    float: left;
    width: 48%;
    padding: 0px;
    margin: 20px 15px;
    font-size: 20px;
    line-height: 1.5;
}

.content_right {
    float: right;
    width: 48%;
    padding: 0px;
    margin: 20px 15px;
    font-size: 20px;
    line-height: 1.5;
}

#pro {
    flex-shrink: 1;
    margin: 10px;
    background-image: url(image/project_bg.jpg);
    background-color: rgba(0, 0, 0, .6);
    background-blend-mode: multiply;
}

#aca {
    flex-shrink: 1;
    margin: 10px;
    background-image: url(image/aca_bg.jpg);
    background-size: cover;
    background-position: center center;
    background-color: rgba(0, 0, 0, .6);
    background-blend-mode: multiply;
}

#ocean {
    flex-shrink: 1;
    margin: 10px;
    background-image: url(image/ocean_bg.jpg);
    background-size: cover;
    background-position: center center;
    background-color: rgba(0, 0, 0, .6);
    background-blend-mode: multiply;
}

#camp {
    flex-shrink: 1;
    margin: 10px;
    background-image: url(image/camp_bg.jpg);
    background-color: rgba(0, 0, 0, .6);
    background-blend-mode: multiply;
}

/*footer*/
footer {
    background-color: #494949;
    color: #ffffff;
    text-align: center;
    padding: 10px;
}